<template>
    <lightning-card title="Select object and fields">
        <lightning-layout multiple-rows="true" vertical-align="center">
            <template if:true={spinnerVisible}>
                <lightning-spinner alternative-text="Loading" size="medium" variant="brand" ></lightning-spinner>
            </template>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-combobox field-level-help="Select an Object"
                    label="Objects List" 
                    options={objectList}
                    placeholder="Select an Option"
                    onchange={hanlechange}
                ></lightning-combobox>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-combobox field-level-help="Select an Object"
                    label="Fields List" 
                    options={filedList}
                    placeholder="Select an Option"
                    onchange={handlechangeFields}
                ></lightning-combobox>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <lightning-button label="Proceed" onclick={processRecords}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
        <!-- <template if:true={tableVisible}>
            <c-client-side-pagination-child records-title={recordsCardTitle}
                records-list={showRecordsList}
                clm-headers={columnHeaders}
                dis-pre-buttons={disPreButtons}
                dis-nxt-buttons={disNxtButtons}
                page-options={pageSizeOptions}
                oncreatenewrecord={createNewRecord}
                oneditrecord={editRecord}
                ondeleterecord={deleteRecord}
                onchangepagesize={handlePageSize}
                onpagechange={handlePage}
            ></c-client-side-pagination-child>
        </template> -->
    </lightning-card>
</template>