<template>
    <div class="slds-theme--default">
        <!-- Header with Buttons -->
        <div class="slds-p-horizontal_large slds-p-top_x-small">
            <lightning-layout horizontal-align="spread" vertical-align="center">
                <lightning-layout-item>
                    <div class="slds-media slds-media_center">
                        <div class="slds-media__body">
                            <h1 style="font-size: 20px;">{eventFormTitle}</h1>
                            <table>
                                <tr>
                                    <td style="width: 15%;"> Start: </td>
                                    <td> {eventForm.PreferredStartTrainingDate} </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%;"> End: </td>
                                    <td> {eventForm.PreferredEndTrainingDate} </td>
                                </tr>
                            </table>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse"></div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item>
                    <lightning-button-group class="slds-button-group-row">
                        <div class="slds-button-group-item">
                            <lightning-button class="slds-theme_neutral" icon-position="left" label="Cancel"></lightning-button>
                        </div>
                        <div class="slds-button-group-item">
                            <lightning-button class="slds-theme_brand" icon-position="left" variant="brand" label="Save"></lightning-button>
                        </div>
                    </lightning-button-group>
                </lightning-layout-item>
            </lightning-layout>
        </div>
        <div class="slds-p-around_small">
            <lightning-accordion active-section-name={activeSections} allow-multiple-sections-open>
                <lightning-accordion-section name="A" label="More Information">
                    <p>More Information Accordian</p>
                </lightning-accordion-section>
            </lightning-accordion>
        </div>
        <div class="slds-p-around_small">
            <lightning-formatted-text value="Existing Assignments" ></lightning-formatted-text>
            <table class="slds-table slds-table_bordered slds-table_striped">
                <thead>
                    <tr class="slds-line-height_reset">
                      <th class="" scope="col">
                        <div class="slds-truncate" title="Trainer">Trainer</div>
                      </th>
                      <th class="" scope="col">
                        <div class="slds-truncate" title="Task">Task</div>
                      </th>
                      <template for:each={week} for:item="wk" for:index="index">
                        <th class="" scope="col" key={wk}>
                            <div class="slds-truncate" title={wk}>{wk}</div>
                        </th>
                      </template>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</template>