/* .THIS {
} */
.THIS .filterButton{
    color: black !important;
}

.THIS .slds-icon{
    fill: royalblue !important;
    transform: scale(0.4);
}

.THIS .layoutClass{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.THIS .styleNone{
    display: none;
}

.THIS .styleInline{
    display: inline;
}

.THIS .tableBodyScroll tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
  }
  
.THIS .tableBodyScroll thead {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .THIS .tableBodyScroll tbody > tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }