<template>
    <lightning-card title="HelloWorld" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            <p>Hello, {greeting}!</p>
            <lightning-input label="Name" value={greeting} onchange={changeHandler}></lightning-input>
        </div>
        <!-- <div>
            <template for:each={contacts} for:item="con" for:index="index" >
                <li key={con.Id}>
                    <lightning-formatted-text value={con.Name} ></lightning-formatted-text>
                    <lightning-formatted-text value={con.Title} ></lightning-formatted-text>
                </li>
            </template>
        </div> -->
    </lightning-card>
</template>