<template>
    <lightning-card title="Select object and fields">
        <lightning-layout multiple-rows="true" vertical-align="center">
            <template if:true={spinnerVisible}>
                <lightning-spinner alternative-text="Loading" size="medium" variant="brand" ></lightning-spinner>
            </template>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-combobox field-level-help="Select an Object"
                    label="Objects List" 
                    options={objectList}
                    placeholder="Select an Option"
                    onchange={hanlechange}
                ></lightning-combobox>
            </lightning-layout-item>
            <template if:true={fieldListVisible}>
                <lightning-layout-item size="6" padding="around-small">
                    <lightning-dual-listbox field-level-help="Select Fields List"
                        label="Fields List"
                        options={filedList}
                        value={selectedFields}
                        selected-label="Selected Fields"
                        size="3"
                        source-label="All Fields"
                        onchange={handlechangeFields}
                    ></lightning-dual-listbox>
                </lightning-layout-item>
                <lightning-layout-item size="2" padding="around-small">
                    <lightning-button label="Proceed" onclick={processRecords}></lightning-button>
                </lightning-layout-item>
            </template>
        </lightning-layout>
        <template if:true={tableVisible}>
            <div style="height:450px;">
                <lightning-datatable key-field="id"
                    data={data}
                    columns={columns}
                    enable-infinite-loading	
                    onloadmore={loadMoreData}
                    hide-checkbox-column
                    sorted-by={sortField}
                    sorted-direction={sortDirection}
                    onsort={onHandleSort}
                ></lightning-datatable>
                {loadMoreStatus}
            </div>
        </template>
    </lightning-card>
</template>