<apex:page controller="ImportObjectCSVController" id="leadPage">
    <apex:slds />
    <style>
        .custPopup{ /*background-color: white;*/ border-width: 0px; border-radius:10px; z-index: 9999; left: 50%; padding:20px; position: fixed;  margin-left: -100px; top:40%;}
        /* These are the 3 css properties you will need to change so the popup displays in the center of the screen. First set the width. Then set margin-left to negative half of what the width is. You can add the height property for a fixed size pop up if you want.*/
        .popupBackground{ background-color:rgba(158, 158, 158, 0.34); opacity: 1.0; filter: alpha(opacity = 30); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 9998; }
    </style>
    <apex:actionstatus id="myStatus">
        <apex:facet name="start">
            <div class="demo-only popupBackground" id="myStatus1">
                <div role="status" class="custPopup slds-spinner slds-spinner_medium slds-spinner_brand">
                    <span class="slds-assistive-text">Please wait...</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </apex:facet>
    </apex:actionstatus>
    <apex:form id="theForm">
        <apex:actionfunction name="insertCsvRecordsJS" action="{!insertCsvRecords}" status="myStatus" oncomplete="processCSVBatch();" />
        <apex:inputHidden id="csvHidden" value="{!csvRecords}" />
        <div class="slds-form-element" style="text-align: center;">
            <span class="slds-form-element__label" id="file-selector-primary-label">Upload CSV File To Import Lead</span>
            <div class="slds-form-element__control">
                <div class="slds-file-selector slds-file-selector_files">
                    <div class="slds-file-selector__dropzone ">
                        <input type="file" id="CSV" accept=".csv" contentType="text/csv" class="slds-file-selector__input"/>
                    </div>
                    <span class="slds-file-selector__text slds-medium-show">
                        <apex:commandButton value="Upload" onclick="parseCSV(); return false;" styleClass="slds-button slds-button_brand"/>
                    </span>
                </div>
            </div>
        </div>
    </apex:form>
    <script>
    var startIndex = 0;
    var allObjectArray = [];
    var batchSize = 0;
    function parseCSV(){
        var fileToLoad  = document.getElementById("CSV").files[0];
        var fileReader = new FileReader();
        fileReader.onload = function(fileLoadedEvent){
            var textFromFileLoaded = fileLoadedEvent.target.result;
            console.log("textFromFileLoaded ############>" + textFromFileLoaded);
            var finalResult = CSVToArray(textFromFileLoaded,",");
            var leadColumnsArray = [];
            var headerColumns = finalResult[0];
            console.log("headerColumns ########>" + headerColumns);                             
            for(var i=0;i<headerColumns.length;i++){
                var columnName = headerColumns[i];
                columnName = columnName.replace(new RegExp(' ', 'g'), '').replace(/\(/g,"").replace(/\)/g,"").replace(new RegExp('&', 'g'), '').replace(new RegExp('?', 'g'), ''); // replacing all spaces " "
                switch(columnName){
                    case "CompanyName" :
                        columnName = "Company";
                        break;
                        // Add exceptions here if any column name differ.
                }
   
                //columnName = columnName.replace(new RegExp(' ', 'g'), '').replace(/\(/g,"").replace(/\)/g,"").replace(new RegExp('?', 'g'), ''); // replacing all spaces " "
                leadColumnsArray[i] = columnName.replace(new RegExp('-', 'g'), ''); // replacing all "-"
            }

            allLeadArray = [];
            for(var i=1;i<finalResult.length-1;i++){ // Records will starts from 2nd row (first row is header row) thats why i = 1
                var dataRow = finalResult[i];
                if((dataRow+'').replace(new RegExp(',', 'g'),'').trim().length == 0){
                    continue; // Skipping blank rows
                }
                var leadRecord = {};
                for(var j=0;j<leadColumnsArray.length; j++){
                    if(leadColumnsArray[j] == 'Title' && dataRow[j].length > 128){
                        var cValue = confirm('Record on row '+i+' has Title length greater than 128. It should be less than 128. If you continue Title will be trimmed.');
                        if(cValue){
                            dataRow[j] = dataRow[j].substring(0,127);
                            leadRecord[leadColumnsArray[j]] = dataRow[j];
                            //this will skipped
                        }else{
                            return;
                        }
                    }
                    if(leadColumnsArray[j] == 'Company' && (dataRow[j] == undefined || dataRow[j].trim().length == 0)){
                        //var cValue = confirm('Company on row '+i+' is null. It is required field. If you continue this row will be skipped.');
                        //if(cValue){
                        //leadRecord[leadColumnsArray[j]] = dataRow[j];
                        //this will skipped
                        //}else{
                        //    return;
                        //}
                    }else{
                        if(leadColumnsArray[j] == 'Employees'){
                            dataRow[j] = !(isNaN(parseInt(dataRow[j]))) ? parseInt(dataRow[j]) : 0;
                        }
                        if(leadColumnsArray[j] == 'RevenueUSD'){
                            dataRow[j] = !(isNaN(parseFloat(dataRow[j]))) ? parseInt(dataRow[j]) : 0;
                        }
                        leadRecord[leadColumnsArray[j]] = dataRow[j];
                    }
       
                }
                //console.log(JSON.stringify(leadRecord)+'########> JSON ARRAY ' + JSON.parse(JSON.stringify(leadRecord)));
                var leadRecordObj = JSON.parse(JSON.stringify(leadRecord));
                if(dataRow.length == headerColumns.length){ // ensuring row has all field
                    allLeadArray.push(leadRecordObj);
                }
                //console.log('######> ROW '+ i + " = finalResult[i].length = " + finalResult[i].length + " |||| DATA = " + finalResult[i]);
            }
            batchSize = (allLeadArray.length)/1000;
             //
            console.log('######> batchSize ' + batchSize );
            processCSVBatch();
        };
        fileReader.readAsText(fileToLoad, "UTF-8");
    }
    function processCSVBatch(){
        if(batchSize > 0){
            var leadArrayTemp = [];
            var tempIndex = 0;
            for(var i = startIndex; i < startIndex+1000 && i < allLeadArray.length; i++){
                leadArrayTemp[tempIndex++] = allLeadArray[i];
            }
            var csvLeadJSON =  JSON.stringify(leadArrayTemp);
            document.getElementById('leadPage:theForm:csvHidden').value = csvLeadJSON;
            //console.log(csvLeadJSON);
            batchSize -= 1;
            startIndex += 1000;
            insertCsvRecordsJS();
        }else{
            document.getElementById('leadPage:theForm:csvHidden').value = '';
            batchSize = 0;
            startIndex = 0;
            // All batches are processed.
            // Here you can get all inserted leads to show
            alert('Data inserted successfully!!');
        }
    }

    // ref: http://stackoverflow.com/a/1293163/2343
    // This will parse a delimited string into an array of
    // arrays. The default delimiter is the comma, but this
    // can be overriden in the second argument.
    function CSVToArray( strData, strDelimiter ){

        // Check to see if the delimiter is defined. If not,
        // then default to comma.
        strDelimiter = (strDelimiter || ",");

        // Create a regular expression to parse the CSV values.
        var objPattern = new RegExp(
            (
                // Delimiters.
                "(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +
   
                // Quoted fields.
                "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +
   
                // Standard fields.
                "([^\"\\" + strDelimiter + "\\r\\n]*))"
            ),
            "gi"
        );

        // Create an array to hold our data. Give the array
        // a default empty first row.
        var arrData = [[]];

        // Create an array to hold our individual pattern
        // matching groups.
        var arrMatches = null;

        // Keep looping over the regular expression matches
        // until we can no longer find a match.
        while (arrMatches = objPattern.exec( strData )){
            // Get the delimiter that was found.
            console.log('arrMatches #######>  '+arrMatches);
            console.log('arrMatches[ 1 ] ==  '+arrMatches[ 1 ]+' , arrMatches[ 2 ] ==  '+arrMatches[ 2 ]);
            var strMatchedDelimiter = arrMatches[ 1 ];
            // Check to see if the given delimiter has a length
            // (is not the start of string) and if it matches
            // field delimiter. If id does not, then we know
            // that this delimiter is a row delimiter.
            if (
                strMatchedDelimiter.length &&
                strMatchedDelimiter !== strDelimiter
            ){
   
                // Since we have reached a new row of data,
                // add an empty row to our data array.
                arrData.push( [] );
   
            }

            var strMatchedValue;

            // Now that we have our delimiter out of the way,
            // let's check to see which kind of value we
            // captured (quoted or unquoted).
            if (arrMatches[ 2 ]){
   
                // We found a quoted value. When we capture
                // this value, unescape any double quotes.
                strMatchedValue = arrMatches[ 2 ].replace(
                    new RegExp( "\"\"", "g" ),
                    "\""
                );
            } else {
                // We found a non-quoted value.
                strMatchedValue = arrMatches[ 3 ];
            }
            // Now that we have our value string, let's add
            // it to the data array.
            arrData[ arrData.length - 1 ].push( strMatchedValue );
        }

        // Return the parsed data.
        return( arrData );
    }
    </script>

</apex:page>