<apex:page controller="GaganClass" showHeader="false" sidebar="false"> 

    <apex:form id="form">
        <!-- Tabstyle attribute is used to assign the color scheme to the pageblock.Here Account Object color scheme is used for the pageblock-->
        <apex:pageBlock id="pgblock" tabStyle="Account">
            <apex:pageBlockSection title="Account Details" columns="1" collapsible="false">   
                
                <apex:pageBlockTable value="{!Accounts}" var="Acc" >
                    <!-- Column 1 -->
                    <apex:column >
                        <apex:facet name="header">
                           <apex:commandLink value="Account Name" action="{!toggleSort}" rerender="pgblock">
                                <!-- Value attribute should have field (API Name) to sort in asc or desc order -->
                                <apex:param name="sortField" value="Name" assignTo="{!sortField}"/>
                           </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!Acc.name}"/>
                    </apex:column>
                    <!-- Column 2 -->
                    <apex:column >
                        <apex:facet name="header">
                            <apex:commandLink value="Industry" action="{!toggleSort}" rerender="pgblock">
                                <apex:param name="sortField" value="Industry" assignTo="{!sortField}"/>
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!Acc.Industry}"/>
                    </apex:column>
                    <!-- Column 3 and 4 -->
                    <apex:column value="{!Acc.Phone}" />
                    <apex:column value="{!Acc.Description}" />
                </apex:pageBlockTable>
            </apex:pageBlockSection>

            <apex:panelGrid columns="15" cellspacing="15">
                <!-- Select List -->
                <apex:selectList value="{! Size}" size="1" >
                    <apex:selectOptions value="{! PaginationValue}" />
                    <apex:actionSupport event="onchange" action="{!acnt}" reRender="pgblock" />
                </apex:selectList>
                <!-- Command Button -->
                <apex:commandButton value="First" action="{! con.First}" disabled="{! !con.HasPrevious}" title="First" reRender="pgblock" />
                <apex:commandButton value="Previous" action="{! con.Previous}" disabled="{! !con.HasPrevious}" title="Previous" reRender="pgblock" />
                <apex:commandButton value="Next" action="{! con.Next}" disabled="{! !con.HasNext}" title="Next" reRender="pgblock" />
                <apex:commandButton value="Last" action="{! con.Last}" disabled="{! !con.HasNext}" title="Last" reRender="pgblock" />
                <!-- Page Details -->
                Record <apex:outputText value="{!(con.pageNumber * con.Pagesize)+1-con.Pagesize} -- {!IF((con.pageNumber * con.Pagesize)>con.ResultSize, con.ResultSize,
                     (con.pageNumber * con.PageSize))} of {!con.ResultSize}"></apex:outputText>	
                Page Number <apex:outputText value="{!con.PageNumber} of {! CEILING(con.ResultSize / con.PageSize) }"></apex:outputText>
                
            </apex:panelGrid>

        </apex:pageBlock>
    </apex:form>
</apex:page>