<apex:page controller="GoogleDriveIntegrationController">
    <apex:form id="idForm">
        <apex:pageBlock rendered="{! loginButton}">
            <apex:commandButton value="Authorize" action="{! DriveAuth}" />
        </apex:pageBlock>
        
        <apex:pageBlock rendered="{! NOT(loginButton)}" id="idTableBlock">
            <apex:pageMessages /><br/><br/>
            <input type="file" id="idInputFile" onchange="fileAssign(this)" />&nbsp;
            <input type="button" value="Upload File" onclick="uploadFile();" /><br/><br/>
            <apex:repeat value="{! directoryList}" var="directory">
                <a onclick="MoveDir('{! directory.name}', '{! directory.selfId}')" style="color:cornflowerblue"><b>{! directory.name}</b></a>
                &nbsp;>
            </apex:repeat><br/><br/>
            <apex:pageBlockTable value="{! wrapperList}" var="wrapper">
                <apex:column headerValue="Type">
                    <apex:outputText value="{! IF(wrapper.mimeType == 'application/vnd.google-apps.folder', 'Folder', 'File')}"  />
                </apex:column>
                <apex:column headerValue="Name">
                    <a onclick="FileDnld('{! wrapper.id}', '{! wrapper.mimeType}', '{! wrapper.name}')">{! wrapper.name}</a>
                </apex:column>
                <apex:column headerValue="Delete">
                    <apex:commandLink value="Delete" action="{! DeleteFile}" reRender="idTableBlock" status="uploading">
                        <apex:param name="fileDelete" value="{! wrapper.id}" assignTo="{! deleteFileId}" />
                    </apex:commandLink>
                </apex:column>
            </apex:pageBlockTable><br/><br/>
            Folder Name&nbsp;<apex:inputText value="{! folderName}" />&nbsp;
            <apex:commandButton value="Create a folder" action="{! CreateFolder}" reRender="idTableBlock" status="uploading" /><br/><br/>
            <apex:actionStatus id="uploading" >                                                      		<!-- Action Status -->
                <apex:facet name="start" >
                    <img src="/img/loading.gif" />                    
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlock>

        <apex:actionFunction name="FileDownload" action="{! ClickOnFileFolder}" reRender="idTableBlock" >
            <apex:param name="fileId" value="" assignTo="{! fileIdParam}"/>                                      	<!-- File Body Parameter -->
            <apex:param name="fileMimeType" value="" assignTo="{! fileMimeTypeParam}"/>
            <apex:param name="fileName" value="" assignTo="{! fileNameParam}"/>
        </apex:actionFunction>
        <apex:actionFunction name="MoveDirectory" action="{! DirectoryMove}" reRender="idTableBlock" status="uploading" >
            <apex:param name="directoryName" value="" assignTo="{! directoryNameParam}"/>
            <apex:param name="directoryId" value="" assignTo="{! directoryIdParam}"/>
        </apex:actionFunction>
        <apex:actionFunction name="saveFile" action="{! FileUpload}" reRender="idTableBlock" status="uploading" >   
            <apex:param name="fBody" value="" assignTo="{! fileBody}"/>                                      	<!-- File Body Parameter -->
            <apex:param name="fName" value="" assignTo="{! fileName}"/>                                        	<!-- File Name parameter -->
            <apex:param name="fType" value="" assignTo="{! fileType}"/>                                        	<!-- File Type parameter -->
        </apex:actionFunction>
        <apex:actionFunction name="loadPage" action="{! PageLoad}" oncomplete="listRecords()" reRender="idForm" />
        <apex:actionFunction name="listRecords" action="{! RecordsList}" reRender="idTableBlock" />
    </apex:form>

    <script>
        var maxStringSize = 5485760;                                                             //File size maximum limit
        var upldFile;                                                                             //List of uploaded files

        window.onload=function(){
            loadPage();
        };

        function fileAssign(input){
            upldFile = input.files;
        }

        function uploadFile(){                                                                          //Function to upload the files
            var file = upldFile[0];
            var reader = new FileReader();                                                          //File Reader object to read the file
            reader.readAsText(file);
            reader.onload = function(e){
                var attachmentbody = reader.result;
                console.log(attachmentbody.length);
                if(attachmentbody.length > maxStringSize ){
                    alert("File size is too large. File cannot be greater than 5MB.");             //Alert for file with size greater than the maximum limit
                }
                else{
                    saveFile(attachmentbody, file.name, file.type);                                           //Calling the action function to insert the file                       
                }
            }
        }

        function FileDnld(fId, fType, fName){
            FileDownload(fId, fType, fName);
        }

        function MoveDir(dName, dId){
            MoveDirectory(dName, dId);
        }
    </script>
</apex:page>