.THIS {}

.THIS .idBackgrndImg {
    /*background-image: url(/resource/HmPgBkgrnd);*/
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: aliceblue;
}

.THIS .imgClass {
    width: 200px;
    height: 200px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
    border: 5px solid firebrick;
}

.THIS .imgClass > input {
   display: none;
}

.THIS .styleNone{
    display: none;
}

.THIS .styleInline{
    display: inline;
}

.THIS .exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}