<template>
    <lightning-card title={recordsTitle}>
        <lightning-layout multiple-rows="true" vertical-align="center">
            <lightning-layout-item size="1" padding="around-small">
                <lightning-button label="New Record" onclick={createRecord}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small" class="tableOuterCss">
                <table class="slds-table slds-table_bordered slds-table_fixed-layout" role="grid">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th class="slds-is-sortable" scope="col">
                                <span class="slds-assistive-text">Choose Action: </span>
                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                    <span class="slds-truncate" title="Action">Action</span>
                                </div>
                            </th>
                            <template for:each={clmHeaders} for:item="header" for:index="index">
                                <th class="slds-is-sortable" scope="col" key={header.value}>
                                    <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                        <span class="slds-truncate" title={header.label}>{header.label}</span>
                                    </div>
                                </th>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={recordsList} for:item="record" for:index="indexRecords">
                            <tr class="slds-hint-parent" key={record.Id}>
                                <td role="gridcell">
                                    <div class="slds-truncate" title="Actions">
                                        <a id={record.Id} onclick={editRecord}>Edit</a>&nbsp;|&nbsp;
                                        <a id={record.Id} onclick={deleteRecord}>Delete</a>
                                    </div>  
                                </td>
                                <template for:each={record.values} for:item="value" for:index="valIndex">
                                    <td role="gridcell" key={value}>
                                        <div class="slds-truncate">{value}</div>
                                    </td>
                                </template>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <lightning-combobox label="Page Size"
                    variant="label-hidden"
                    options={pageOptions}
                    value={pageSize}
                    onchange={handlePageSize}
                    dropdown-alignment="bottom-left"
                ></lightning-combobox>
            </lightning-layout-item>
            <lightning-layout-item size="3" padding="around-small"></lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-button label="First"
                    variant="base"
                    onclick={handlePage}
                    icon-name="utility:left"
                    disabled={disPreButtons}
                ></lightning-button>
                <lightning-button label="Previous"
                    variant="base"
                    onclick={handlePage}
                    icon-name="utility:chevronleft"
                    disabled={disPreButtons}
                ></lightning-button>
                <lightning-button label="Next"
                    variant="base"
                    onclick={handlePage}
                    disabled={disNxtButtons}
                    icon-name="utility:chevronright"
                    icon-position="right"
                ></lightning-button>
                <lightning-button label="Last"
                    variant="base"
                    onclick={handlePage}
                    disabled={disNxtButtons}
                    icon-name="utility:right"
                    icon-position="right"
                ></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>