.tableOuterCss {
    max-height: 21rem;
    overflow-y: auto;
}
  
/* Scrollbar Css */
::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(220,220,220); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}