.THIS {
}

.THIS .tableBodyScroll tbody {
    display: block;
    max-height: 388px;
    overflow-y: scroll;
}
    
.THIS .tableBodyScroll thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}
  
.THIS .tableBodyScroll tbody > tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}